.detailsHeader {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  align-items: center;
  justify-content: space-between;
}

.detailsCause {
  font-size: 30px;
  margin-bottom: 50px;
}

.detailsDetails {
  width: 100%;
  padding: 0 200px;
}

.detailsScoreIsExplainedBy {
  font-size: 100px;
  margin-bottom: 50px;
}