.scoreDate {
  font-size: 100px;
  text-transform: capitalize;
}

.scoreScore {
  font-size: 300px;
}

.scoreLabel {
  font-size: 150px;
}

.scoreOutOf6 {
  font-size: 100px;
}

.legendBarLibelles {
  font-size: 30px;
  transform: rotate(-90deg) translateX(-110%);
  text-align: center;
}